body{
    margin: 0;
    padding: 0;
}

header{
    background-color: green;
    padding: 20px;
    text-align:center;
    color:gray;
    margin-bottom: 30px;
    box-shadow: 5px 5px 50px green chocolate(0,0,0,0.3);
    
}

.heading{
    font-size: 3rem;
    text-decoration:dotted;
}

.p1{
    opacity:0.8;
    color:darkgreen;
    font-size:1.6rem;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.image1{
    width: 800px;
    height: 300px;
    filter:brightness(1);
    background-image: url(sprites.jpg);
    background-position: 0 0;
}

.p2{
    opacity:0.8;
    color:forestgreen;
    font-size:1.6rem;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.image2{
    width: 800px;
    height: 300px;
    filter:brightness(1);
    background-image: url(sprites.jpg);
    background-position: 0 0;    
}

p{
    background-color: ;
}
body{
    background-color: grey;

}